<h1> DinnerDash #HOME </h1>

<% if user_signed_in? %>
<%= current_user.email %>
<br>
<%= link_to  "Editar", edit_user_registration_path %>
<br>
<%= link_to  "Sair", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Entrar", new_user_session_path %>
<% end %>