<h1>MealCategories#edit</h1>
<p>Find me in app/views/meal_categories/edit.html.erb</p>
<%= form_with model: @category do |form| %>
    <%= form.text_field :name, placeholder: "nome" %>
    <%= form.submit %>
<% end %>