<%= render 'layouts/nav', meal_category: @meal_category %>

<%# render 'form', meal_category: @meal_category %>

<%# link_to 'Show', @meal_category %> 
<%# link_to 'Back', meal_categories_path %>

<div class="container backoffice_title">
    <h1 class="container-fluid text-secondary h5">Editar categoria de refeições</h1>
    <hr>
</div>

<%= render 'form', meal_category: @meal_category %>
