<h1>MealCategories#new</h1>
<p>Find me in app/views/meal_categories/new.html.erb</p>

<%= form_with model: @category do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.submit %>
<% end %>