<%= render 'layouts/nav', meal_category: @meal_category %>

<div class="container backoffice_title">
    <h1 class="container-fluid text-secondary h5">Nova categoria de refeições</h1>
    <hr>
</div>

<%= render 'form', meal_category: @meal_category %>

